
/* || GENERAL STYLES */

@font-face {
    font-family: 'CustomFont';
    src: url('./fonts/jurassicpark-bl48-webfont.woff2') format('woff2'),
         url('./fonts/jurassicpark-bl48-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html, body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    width: 100vw;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.dino-background {
    width: 100vw;
    height: 100vh;
    background-color:burlywood;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wallpaper {
    position: absolute;
    object-fit: cover;
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.intro-wrapper {
    margin: 0;
    width: auto;
    min-width: 1000px;
    max-width: 1140px;
    min-height: 500px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.intro-text-container {
    width: 45%;
    margin-right: 10%;
    padding-top: 40px;
}

.underline {
    box-sizing: border-box;
    margin: 40px 0px 40px 0px;
    width: 100%;
    height: 2px;
    background-color: #1b1b1b;
}



/* || FORM STYLES */

.form-wrapper {
    padding: 10px 30px 30px 30px;
    background-color: rgb(247, 247, 242);
    width: 475px;
    box-shadow: 1px 1px 10px rgb(0,0,0,0.1);
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

.radio-btn-container {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    padding: 7px 15px 7px 15px;
    box-shadow: 1px 1px 10px rgb(0,0,0,0.1);
    border-radius: 4px;
}

input, select {
    position: relative;
    height: 40px;
    border-style: none;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    color: #1b1b1b;
    box-shadow: 1px 1px 10px rgb(0,0,0,0.1);
}

input:focus {
    outline-color: rgb(204, 95, 95, 0.75);
}

.radio-btn-container input {
    position: relative;
    bottom: 1px;
    margin-left: 0;
    margin-right: 7px;
    box-shadow: none;
    z-index: 1;
}

button {
    margin-top: 20px;
    height: 50px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-style: none;
    border-radius: 4px;
    background-color: rgb(204, 95, 95, 0.75);
    box-shadow: 1px 1px 5px rgb(204, 95, 95, 0.5);
    color: white;
    cursor: pointer;
}


button:hover {
    background-color: rgb(204, 95, 95);
}

button:focus {
    outline-color: rgb(204, 95, 95, 0.75);
}

.imperial-height-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    display: none;
}

.imperial-units-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    max-width: 200px;
}

.metric-height-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.feet-input, .inch-input {
    max-width: 50%;
    margin-right: 15px;
}

.form-text::before {
    content: "*";
    color: rgb(255, 0, 0);
    font-size: 18px;
}


/* || TYPOGRAPHY STYLES */

.main-title {
    font-family: CustomFont;
    font-size: 175px;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: 5px;
    color: #1b1b1b;
    margin: 0px 0px 60px 0px;
}

.sub-title {
    margin: 0;
    font-family: CustomFont;
    font-size: 50px;
    font-weight: 200;
}

.text-normal {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin:0;
}

.form-text {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
    font-family: sans-serif;
    color: #1b1b1b;
    opacity: 0.5;
}

.radio-text {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    margin-right: 20%;
}

a {
    color: rgb(204, 95, 95);
}